In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [123]:
data1 = pd.read_excel("https://raw.githubusercontent.com/saneshj/Python11/main/CUCM_Phone_Count_Clusters_20220531.xlsx", sheet_name ="DU")
data1

,Unnamed: 0,,Device Name(Line)Sort Descending,Description,Device Type,Device Protocol,Status,IPv4 Address
0,NaN,Cisco ATA 186,ATA000AF453CA7F,NaN,Cisco ATA 186,SCCP,None,None
1,NaN,Cisco ATA 186,ATA000AF453CB84,NaN,Cisco ATA 186,SCCP,None,None
2,NaN,Cisco ATA 186,ATA000AF453CC31,NaN,Cisco ATA 186,SCCP,None,None
3,NaN,Cisco ATA 186,ATA000B46E893DD,NaN,Cisco ATA 186,SCCP,None,None
4,NaN,Cisco ATA 186,ATA000B46E89401,NaN,Cisco ATA 186,SCCP,None,None
...,...,...,...,...,...,...,...,...
10648,NaN,Cisco Dual Mode for iPhone,TCTASHARNAVEED,Ashar-Naveed-IPHONE,Cisco Dual Mode for iPhone,SIP,Registered with 10.175.79.67,10.175.79.72
10649,NaN,Cisco Dual Mode for iPhone,TCTAYMANELNASHA,AymanElNashar-IPHONE,Cisco Dual Mode for iPhone,SIP,None,None
10650,NaN,Cisco Dual Mode for iPhone,TCTKATHIRTSO,KathisTSOIphone,Cisco Dual Mode for iPhone,SIP,None,None
10651,NaN,Cisco Dual Mode for iPhone,TCTNADEEMKHAN,Nadeem Khan,Cisco Dual Mode for iPhone,SIP,Registered with 10.175.79.67,10.175.79.72
10652,NaN,CTI Port,TSRM_BB_DR1,TSRM_BB_DR1,CTI Port,SCCP,None,None

In [126]:
data2 = pd.read_excel("https://raw.githubusercontent.com/saneshj/Python11/main/CUCM_Phone_Count_Clusters_20220607.xlsx", sheet_name ="DU")
data2

,Unnamed: 0,Device type,Device Name(Line)Sort Descending,Description,Device Pool,Device Protocol,Status,IPv4 Address
0,NaN,Cisco ATA 186,ATA000AF453CA7F,NaN,DU-TEMP,SCCP,None,None
1,NaN,Cisco ATA 186,ATA000AF453CB84,NaN,DU-TEMP,SCCP,None,None
2,NaN,Cisco ATA 186,ATA000AF453CC31,NaN,DU-TEMP,SCCP,None,None
3,NaN,Cisco ATA 186,ATA000B46E893DD,NaN,DU-TEMP,SCCP,None,None
4,NaN,Cisco ATA 186,ATA000B46E89401,NaN,DU-TEMP,SCCP,None,None
...,...,...,...,...,...,...,...,...
10657,NaN,Cisco Dual Mode for iPhone,TCTASHARNAVEED,Ashar-Naveed-IPHONE,DU-AC-BLDG9,SIP,None,None
10658,NaN,Cisco Dual Mode for iPhone,TCTAYMANELNASHA,AymanElNashar-IPHONE,DU-AC-BLDG9,SIP,None,None
10659,NaN,Cisco Dual Mode for iPhone,TCTKATHIRTSO,KathisTSOIphone,DU-TSOSOC,SIP,None,None
10660,NaN,Cisco Dual Mode for iPhone,TCTNADEEMKHAN,Nadeem Khan,DU-AC-BLDG9,SIP,Unregistered,10.175.79.72
10661,NaN,CTI Port,TSRM_BB_DR1,TSRM_BB_DR1,devicepool263,SCCP,None,None

In [193]:
data3 = pd.read_excel("https://raw.githubusercontent.com/saneshj/Python11/main/CUCM_Phone_Count_Clusters_20220614.xlsx", sheet_name ="DU")
data3

,Unnamed: 0,Device Type,Device Name(Line)Sort Descending,Description,Device Pool,Device Protocol,Status,IPv4 Address
0,NaN,Cisco ATA 186,ATA000AF453CA7F,NaN,DU-TEMP,SCCP,None,None
1,NaN,Cisco ATA 186,ATA000AF453CB84,NaN,DU-TEMP,SCCP,None,None
2,NaN,Cisco ATA 186,ATA000AF453CC31,NaN,DU-TEMP,SCCP,None,None
3,NaN,Cisco ATA 186,ATA000B46E893DD,NaN,DU-TEMP,SCCP,None,None
4,NaN,Cisco ATA 186,ATA000B46E89401,NaN,DU-TEMP,SCCP,None,None
...,...,...,...,...,...,...,...,...
10664,NaN,Cisco Dual Mode for iPhone,TCTASHARNAVEED,Ashar-Naveed-IPHONE,DU-AC-BLDG9,SIP,Unregistered,10.175.79.72
10665,NaN,Cisco Dual Mode for iPhone,TCTAYMANELNASHA,AymanElNashar-IPHONE,DU-AC-BLDG9,SIP,None,None
10666,NaN,Cisco Dual Mode for iPhone,TCTKATHIRTSO,KathisTSOIphone,DU-TSOSOC,SIP,None,None
10667,NaN,Cisco Dual Mode for iPhone,TCTNADEEMKHAN,Nadeem Khan,DU-AC-BLDG9,SIP,None,None
10668,NaN,CTI Port,TSRM_BB_DR1,TSRM_BB_DR1,devicepool263,SCCP,None,None

In [176]:
data11=data1[["Device Name(Line)Sort Descending", "Status"]]
data111=[data11[data11['Status'] != "None"]]
data111

[      Device Name(Line)Sort Descending                        Status
 19                     ATA00164689C6AF  Registered with 10.175.79.68
 21                     ATA00164689C6FC  Registered with 10.175.79.67
 32                     ATA0016468AD917  Registered with 10.175.79.67
 35                     ATA0016468AD992  Registered with 10.175.79.67
 39                     ATA0016468ADAC3  Registered with 10.175.79.67
 ...                                ...                           ...
 10619                  SEPF87B204F3A96  Registered with 10.175.79.67
 10620                  SEPF87B204F3AA4  Registered with 10.175.79.67
 10638                  SEPFCFBFB111FBE  Registered with 10.175.79.67
 10648                   TCTASHARNAVEED  Registered with 10.175.79.67
 10651                    TCTNADEEMKHAN  Registered with 10.175.79.67

 [1172 rows x 2 columns]]

In [195]:
column_1_values = set(data1['Device Name(Line)Sort Descending'].unique())
column_2_values = set(data2['Device Name(Line)Sort Descending'].unique())
#column_3_values = set(data3['Device Name(Line)Sort Descending'].unique())
matches = column_1_values.difference(column_2_values)
print('\n'.join(map(str, matches)))

SEP0008A309F5FA
SEP0013C3BAADDB

In [196]:
column_1_values = set(data1['Device Name(Line)Sort Descending'].unique())
#column_2_values = set(data2['Device Name(Line)Sort Descending'].unique())
column_3_values = set(data3['Device Name(Line)Sort Descending'].unique())
matches = column_1_values.difference(column_2_values)
print('\n'.join(map(str, matches)))

SEP0008A309F5FA
SEP0013C3BAADDB

In [197]:
dataCL81 = pd.read_excel("https://raw.githubusercontent.com/saneshj/Python11/main/CUCM_Phone_Count_Clusters_20220531.xlsx", sheet_name ="SHD8")
dataCL81

,Unnamed: 0,,Device Name(Line)Sort Descending,Description,Device Type,Device Protocol,Status,IPv4 Address
0,NaN,Cisco 7940,SEP001EBE901CD6,NaN,Cisco 7940,SCCP,None,None
1,NaN,Cisco 7945,SEP0038DFAED9D1,04-5686078,Cisco 7945,SCCP,None,None
2,NaN,Cisco 7841,SEP0057D2D1E976,04-5690030,Cisco 7841,SIP,None,None
3,NaN,Cisco 7841,SEP0059DC5AC191,04-5690102,Cisco 7841,SIP,None,None
4,NaN,Cisco 7841,SEP00778DF9EFE8,04-5686078,Cisco 7841,SIP,Registered with 10.175.206.19,10.253.154.199
...,...,...,...,...,...,...,...,...
1265,NaN,Cisco 3905,SEPF4BD9E4BEF6E,04-5689518,Cisco 3905,SIP,Registered with 10.175.206.19,10.253.227.52
1266,NaN,Cisco 3905,SEPF4BD9E4BEF97,04-5689914,Cisco 3905,SIP,Registered with 10.175.206.19,10.253.155.30
1267,NaN,Cisco 3905,SEPF4BD9E4BF00C,04-3524846,Cisco 3905,SIP,Registered with 10.175.206.19,10.253.226.71
1268,NaN,Cisco 8832,SEPF86BD91A98D5,04-5686386,Cisco 8832,SIP,Registered with 10.175.206.19,10.253.181.235
1269,NaN,Cisco 8832,SEPF86BD997D10A,04-5686481,Cisco 8832,SIP,None,None

In [198]:
dataCL82 = pd.read_excel("https://raw.githubusercontent.com/saneshj/Python11/main/CUCM_Phone_Count_Clusters_20220607.xlsx", sheet_name ="SHD8")
dataCL82

,Unnamed: 0,Device type,Device Name(Line)Sort Descending,Description,Device Pool,Device Protocol,Status,IPv4 Address
0,NaN,Cisco 7940,SEP001EBE901CD6,NaN,devicepool4824,SCCP,None,None
1,NaN,Cisco 7945,SEP0038DFAED9D1,04-5686078,devicepool4824,SCCP,None,None
2,NaN,Cisco 7841,SEP0057D2D1E976,04-5690030,devicepool4824,SIP,None,None
3,NaN,Cisco 7841,SEP0059DC5AC191,04-5690102,devicepool4824,SIP,None,None
4,NaN,Cisco 7841,SEP00778DF9EFE8,04-5686078,devicepool4824,SIP,Registered with 10.175.206.19,10.253.154.199
...,...,...,...,...,...,...,...,...
1276,NaN,Cisco 3905,SEPF4BD9E4BEF6E,04-5689518,devicepool4824,SIP,Registered with 10.175.206.19,10.253.227.52
1277,NaN,Cisco 3905,SEPF4BD9E4BEF97,04-5689914,devicepool4824,SIP,Registered with 10.175.206.19,10.253.155.30
1278,NaN,Cisco 3905,SEPF4BD9E4BF00C,04-3524846,devicepool4824,SIP,Registered with 10.175.206.19,10.253.226.71
1279,NaN,Cisco 8832,SEPF86BD91A98D5,04-5686386,devicepool4824,SIP,Registered with 10.175.206.19,10.253.181.235
1280,NaN,Cisco 8832,SEPF86BD997D10A,04-5686481,devicepool4824,SIP,None,None

In [199]:
dataCL83 = pd.read_excel("https://raw.githubusercontent.com/saneshj/Python11/main/CUCM_Phone_Count_Clusters_20220614.xlsx", sheet_name ="SHD8")
dataCL83

,Unnamed: 0,Device Type,Device Name(Line)Sort Descending,Description,Device Pool,Device Protocol,Status,IPv4 Address
0,NaN,Cisco 7940,SEP001EBE901CD6,NaN,devicepool4824,SCCP,None,None
1,NaN,Cisco 7945,SEP0038DFAED9D1,04-5686078,devicepool4824,SCCP,None,None
2,NaN,Cisco 7841,SEP0057D2D1E976,04-5690030,devicepool4824,SIP,None,None
3,NaN,Cisco 7841,SEP0059DC5AC191,04-5690102,devicepool4824,SIP,None,None
4,NaN,Cisco 7841,SEP00778DF9EFE8,04-5686078,devicepool4824,SIP,Registered with 10.175.206.19,10.253.154.199
...,...,...,...,...,...,...,...,...
1289,NaN,Cisco 3905,SEPF4BD9E4BEF6E,04-5689518,devicepool4824,SIP,Registered with 10.175.206.19,10.253.227.52
1290,NaN,Cisco 3905,SEPF4BD9E4BEF97,04-5689914,devicepool4824,SIP,Registered with 10.175.206.19,10.253.155.30
1291,NaN,Cisco 3905,SEPF4BD9E4BF00C,04-3524846,devicepool4824,SIP,Registered with 10.175.206.19,10.253.226.71
1292,NaN,Cisco 8832,SEPF86BD91A98D5,04-5686386,devicepool4824,SIP,Registered with 10.175.206.19,10.253.181.235
1293,NaN,Cisco 8832,SEPF86BD997D10A,04-5686481,devicepool4824,SIP,None,None

In [201]:
column_1_values = set(dataCL81['Device Name(Line)Sort Descending'].unique())
column_2_values = set(dataCL82['Device Name(Line)Sort Descending'].unique())
#column_3_values = set(dataCL83['Device Name(Line)Sort Descending'].unique())
matches = column_1_values.difference(column_2_values)
print('\n'.join(map(str, matches)))

SEP4C710C2E185A
SEP689E0B512716
SEP285261C16DF4
SEPE069BAE8AF0B
SEP689E0B512BE7
SEP689E0B512157
SEPE0698AE8AA67
SEP689E0B511809

In [202]:
column_1_values = set(dataCL81['Device Name(Line)Sort Descending'].unique())
#column_2_values = set(dataCL82['Device Name(Line)Sort Descending'].unique())
column_3_values = set(dataCL83['Device Name(Line)Sort Descending'].unique())
matches = column_1_values.difference(column_3_values)
print('\n'.join(map(str, matches)))

SEP4C710C2E185A
SEPCC7F75A6336B
SEP689E0B512716
SEP689E0B511809
SEP285261C16DF4
SEPE069BAE8AF0B
SEP689E0B512BE7
SEPE0698AE8AA67
SEP689E0B512A23
SEP689E0B5128C6
SEPCC7F75A66755
SEPCC7F75A666FC
SEP689E0B512157
SEP689E0B512BF0
SEP689E0B512959
SEPAC4A5610EF01